*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules
.DS_Store
.vscode
assets.pptx
bibtex/paper.synctex.gz
bibtex/paper.log
bibtex/paper.fls
bibtex/paper.fdb_latexmk
bibtex/paper.blg
bibtex/paper.bbl
bibtex/paper.aux
docs/*/*.pdf
docs/*/*.docx
